@import "../../node_modules/@sangre-fp/css-framework/tokens/fp-design-tokens";

.radar-conclusions-app {
  .custom-radio {
    .custom-control-label {
      font-weight: $font-weight-normal;
    }
  }

  .conclusions-main-content {
    p {
      margin-bottom: 1.214rem;
    }
    h1, h2, h3, h4, h5 {
      margin-bottom: 1.214rem;
    }

    img, iframe {
      margin: 1rem 0 1.5rem;
    }
  }
}